@font-face {
    font-family:DBLimX;
    src:url('font/DB Helvethaica X Med Cond v3.2.ttf') format("truetype");
}

.textnalmal{
	
	font-family: 'DBLimX', sans-serif;
	font-size: 24px;
	 
}


body{background-color:#e4e6e9;min-height:100%;padding-bottom:0;font-family:'DBLimX','Open Sans';font-size:22px;color:#393939;line-height:1.5}
.nav-list>li>a {
    display: block;
    height: 39px;
    line-height: 17px;
    padding-left: 7px;
    text-shadow: none!important;
    font-size: 22px;
    text-decoration: none;
} 